.counter__wrapper {
  margin: 100px auto;
  padding: 20px;
  border: 1px solid white;
  box-shadow: 1px 1px 15px 5px rgb(189, 186, 186),
    -1px -1px 15px 5px rgb(189, 186, 186);
  width: 400px;
  background-color: black;
  border-radius: 20px;
}
:hover:is(.btn__decrease, .btn__increase, .btn__reset) {
  background-color: white;
  font-weight: bold;
}
.btn__decrease:hover {
  color: red;
}
.btn__increase:hover {
  color: blue;
}
.btn__reset:hover {
  color: green;
}
